@{
    <br />

    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>

<br />
<div class="row"> 
<p>
    Стоматологическая клиника «Альвеола» — это сеть клиник  в шаговой доступности.
    Здесь вы можете получить любую стоматологическую помощь экспертного класса без наценок.
    Наша миссия – сделать современную стоматологию доступной для всех.
</p>
</div>
<section class="section-features js-section-features" id="services">
    <div class="row">
        <h2>Наши услуги</h2>

    </div>

    <div class="row js-wp-1">
        <div class="col span-1-of-4 box for-icons">
            <i class="icon ion-md-checkmark"></i>
            <h3>Лечение зубов</h3>
        </div>
        <div class="col span-1-of-4 box for-icons">
            <i class="icon ion-md-checkmark"></i>
            <h3>Удаление зубов</h3>
        </div>
        <div class="col span-1-of-4 box for-icons">
            <i class="icon ion-md-checkmark"></i>
            <h3>Установка коронок</h3>
        </div>
        <div class="col span-1-of-4 box for-icons">
            <i class="icon ion-md-checkmark"></i>
            <h3>Протезирование</h3>
        </div>
    </div>
    <div class="row js-wp-1">
        <div class="col span-1-of-4 box for-icons">
            <i class="icon ion-md-checkmark"></i>
            <h3>Имплантация</h3>
        </div>
        <div class="col span-1-of-4 box for-icons">
            <i class="icon ion-md-checkmark"></i>
            <h3>Установка брекетов</h3>
        </div>
        <div class="col span-1-of-4 box for-icons">
            <i class="icon ion-md-checkmark"></i>
            <h3>Чистка зубов</h3>
        </div>
        <div class="col span-1-of-4 box for-icons">
            <i class="icon ion-md-checkmark"></i>
            <h3>Отбелевание</h3>
        </div>

    </div>
    <div style="text-align: center" class="row">
        @Html.ActionLink("Вернуться назад", "Index", "Home")
    </div>
</section>